/* *{
    background-color: rgb(24, 20, 20);
}  */

/* h1{
    color: rgb(136, 72, 72);
}
.a{
    color: rgb(26, 121, 121);
}


.abc{
    color: rgb(60, 40, 153);
}
h2{
    color: rgb(3, 1, 0);
    background-color: rgb(49, 195, 195);
    border: 2px solid rgb(227, 227, 233);
    border-radius: 10px;
    width: 220px;
}
#head1
{
    color: rgb(3, 1, 0);
    background-color: rgb(151, 157, 157);
    border: 2px solid rgb(227, 227, 233);
    width: 200px;
}
#head2
{
    color: rgb(3, 1, 0);
    background-color: rgb(153, 179, 179);
    border: 2px solid rgb(227, 227, 233);
    border-radius: 10px;
    width: 160px;
} */ 


/* :root{
    --primary-color:green;
    --seconary-color:rgb(171, 140, 140);
    --text-color:rgb(3, 12, 15);
}

body{
    background-color: var(--seconary-color);
}

h1{
    color: var(--primary-color);
}
.a{
    color: var(--primary-color);
}
.abc{
    color: var(--text-color);
}
h2{

} */
 :root{
    --primary-color: #2c3e50;
    --secondary-color: #0e1316;
    --text-color: #913f3f;
    --bg-color:pink;

}
body{
    color: var(--bg-color);
}

h1{
    color: var(--primary-color);
}
.a{
    color: var(--secondary-color);
}


.abc{
    color: var(--text-color)
}
