*{
    margin: 0;
    padding: 0;
   
}

div{
 color: red;
    background-color: aqua;
}

.aman{
    color: blue;
    background-color: yellow;
}

.box{
    background-color: #2687b0;
}

.box1{
    color: yellow;
}
.box2{
    color: red;
}