:root{
    --primary-color: rgb(188, 34, 131);
    --secondary-color: #339b91;
    --text-color: #a0212c;
    --heading-color: #2c72b8;
    --text2-color: #b82caf;
}

#login{

    background-color: var(--primary-color);
    border-radius: 5px;
    padding: 10px 20px;

}
#resister{
    background-color: var(--secondary-color);
     border-radius: 5px;
    padding: 10px 20px;
}
h1{
    color: var(--primary-color);
}
h3{
    color: var(--secondary-color);
}
p{
    color: var(--text-color);

}
table{
  
    color: var(--text-color);
}
#a{
    background-color: var(--heading-color);
}
#b{
    --somevariable:green;
    color: var(--somevariable);  
}



.ts{
   
  width: 100px;
  height: 100px;
  border-radius: 100%;
  box-shadow: 5px 4px 50px 20px rgba(0, 0, 0, 1.00);
  justify-content: center;
  align-items: center;
  background-color:azure;
  display: grid;
  
 

}
img{
    width: 100%;
    height: 100%;
    border-radius: 100%;
    display: flex;
}
.am{
    width: 10px;
  height: 10px;
  border-radius: 100%;
  box-shadow: 5px 4px 50px 20px rgb(78, 57, 57);

}
input {
  width: 300px;
  height: 45px;
  padding: 0 15px;
  margin: 10px 0;
  border-radius: 50px;   /* pill shape 🔥 */
  border: none;
  background-color: #eee;
  outline: none;
  font-size: 16px;
  display: flex;
}
input:focus {
  border: 2px solid royalblue;
  background-color: #fff;
}


body{
  font-family: Arial;
  padding-top: 70px;
}

/* HERO */
.hero{
  height: 100vh;
  background: url('../img/a1.jpg') center/cover no-repeat;
  position: relative;
  align-items: center;
}

.overlay{
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
}

.content{
  position: relative;
  color: white;
}

/* CARD HOVER */
.card:hover{
  transform: translateY(-8px);
  transition: 0.3s;
}

/* REVIEW */
.review-card{
  background: #f2eae3;
  padding: 20px;
  border-radius: 10px;
}


/* FEATURED BG */
.featured{
  background: linear-gradient(to bottom, #c23a00, #e6cfc2);
}

/* CARD */
.custom-card{
  border-radius: 12px;
  overflow: hidden;
  transition: 0.3s;
}

.custom-card img{
  height: 150px;
  object-fit: cover;
}

.custom-card:hover{
  transform: translateY(-8px);
}

/* STATS */
.stats{
  background: #eee7e1;
}

.box{
  background: #fff;
  padding: 15px;
  border-radius: 10px;
}

/* REVIEW */
.review{
  background: #f2ebe5;
}

.review-box{
  background: #f3e5dc;
  padding: 15px;
  border-radius: 10px;
}

/* COLORS */
.text-pink{
  color: #d84a8a;
}



.hero{
    height: 100vh;
    background: url('./img/a1.jpg') center/cover no-repeat;
    position: relative;
}

.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
}

.content{
    position: relative;
    z-index: 2;
}

/* बस search input थोड़ा customize */
.search-input{
    padding: 14px;
    border-radius: 10px;
    border: none;
}