.hero{
    background-color: #a44242;
    text-align: center;
    padding:60px 20px;
}
.c{
    color: rgb(107, 194, 194);
    font-size: 36px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
}
.b{
    color: salmon;
    font-size: 20px ;
    margin-bottom: 20px;
}
.a{
    display: inline-block;
    background-color: rgb(107, 194, 194);
    
}